table {
  width: 100%;
  border-collapse: collapse;
}
th {
  text-align: left;
}

td {
  border: 1px solid gray;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}
td.open-collection {
  border-bottom: none;
}

tbody.collection .book {
  color: green;
  cursor: pointer;
}
tbody.collection .books-in-collection {
  color: gray;
}
.collection .hide {
  display:none;
}
.collection .show {
  display:table;
}
